<!-- Banner 👇 -->

<div class="container-fluid">
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-inner">
      <div class="carousel-item" data-bs-interval="10000" *ngFor="let banner of banners; let index=index"
           [ngClass]="{active: index===1}">
        <app-banner [backdrop_path]="banner.backdrop_path" [original_title]="banner.original_title"
                    [overview]="banner.overview"></app-banner>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Banner 👆 -->
<!-- Movies 👇 -->

<div class="mb-3">
  <app-movies [section_name]="'Trending Movies'" [movies_list]="trendingMovies"></app-movies>
</div>

<!-- Movies 👆 -->
