@use "./assets/scss/var";
@import "https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #000000;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text-showtime {
  color: var.$primaryColor;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
